//index固定居中宽度：1000px
$in-body_width: 1000px;

/// import 
//@import "_index/component";
//@import "_index/animation";
//@import "_index/common";

/* in-main*/
.in-main {
    width: $in-body_width;
    //height: 100px;
    background-color: #fff;
    margin: 0px auto;
    //
    //in-plate
    @at-root .in-plate {
        .box {
            width: 100px;
            height: 100px;
            margin: 10px;
            border: 1px solid #999;
            float: left;
        }
        .box1 {
            @include compass-singleimg-multistate(#{"ddbox_1"}, $cursor: pointer, $G_offset-x: 50%, $G_offset-y: 12px, $sprite-base-class: ".box");
        }
        .box2 {
            @include compass-singleimg-multistate(#{"ddbox_2"}, $cursor: pointer, $G_offset-x: 50%, $G_offset-y: 12px, $sprite-base-class: ".box");
            width: 280px;
            //height: 77px;
       
        }
        .box3 {
            @include compass-singleimg-multistate(#{"ddbox_3"}, $cursor: pointer, $G_offset-x: 50%, $G_offset-y: 12px, $sprite-base-class: ".box");
            width: 200px;
        }
        .box4 {
            @include compass-singleimg-multistate(#{"ddbox_4"}, $cursor: pointer, $G_offset-x: 50%, $G_offset-y: 12px, $sprite-base-class: ".box");
            width: 150px;
        }
    }
    //in-tags
    @at-root .in-tags {
        .it {
            @include sim-inline-block;
        }
    }
    //in-dogs
    @at-root .in-dogs{
        
    }
}
