@charset "UTF-8";
/** COPYRIGHT 2015, USTC SINOVATE SOFTWARE ALL RIGHTS RESERVED. by SINOVATE-UED. */
/* foundation*/
.shown { display: block !important; }

.none, .hidden { display: none !important; }

.cf:after, .clearfix:after { content: '\0020'; display: block; height: 0; clear: both; visibility: hidden; }

.cf, .clearfix { zoom: 1; }

.fl, .left { float: left; }

.fr, .right { float: right; }

.ttct { text-align: center; }

.ttl { text-align: left !important; }

.ttr { text-align: right !important; }

.ttbd { font-weight: bold; }

*, *:before, *:after { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; -webkit-text-size-adjust: none; }

html { background: #fff; font-family: "微软雅黑"; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 100%; }

a { font-family: "微软雅黑"; color: #333; }
a:hover, a:focus { cursor: pointer; color: #666; }

img { height: auto; max-width: 100%; }

table { width: 100%; }

/* foundation,end*/
/* component*/
.tab .hd-rap { font-size: 14px; border-bottom: 1px solid #90c0f2; }
.tab .hd-rap a { color: #555; }
.tab .hd-rap a.it { display: block; float: left; padding: 4px 22px; background-color: #eaeaea; margin-right: 5px; }
.tab .hd-rap a.it:hover { text-decoration: none; }
.tab .hd-rap a.it.act { background-color: #5ca6f3; color: #fff; }
.tab .hd-rap .more-rap { padding: 4px 12px; float: right; }
.tab .hd-rap a.more { padding: 4px 12px; float: right; }

.tab-T1 .hd-rap { font-size: 16px; }

.table { border: 1px solid #ccc; }
.table thead { font-size: 12px; font-weight: bold; color: #888; }
.table thead tr th { padding: 5px; }
.table tbody { font-size: 14px; font-weight: normal; color: #000; }
.table tbody tr td { padding: 5px; }

.table-T1 { border-width: 0px; }

/* custom_plugin*/
.soga-box { color: #333; }

.in .soga-box { color: #1DA2EB; }

/* custom_plugin,end*/
/* component,end*/
/* structure*/
.G-top-R { background-color: #9BD7FB; height: 80px; }

.G-nav { width: 1000px; margin: 0px auto; height: 60px; }
.G-nav ul li { float: left; }
.G-nav ul a { display: block; font-size: 16px; color: #333; }
.G-nav ul a:hover { text-decoration: none; }
.G-nav ul .it { padding: 10px 30px; text-indent: 1em; }
.G-nav ul .it.it-1 { background: url('../image/S_icons_nav-s42940a83f1.png') 8px 15px no-repeat; }
.G-nav ul .it.it-2 { background: url('../image/S_icons_nav-s42940a83f1.png') 8px -21px no-repeat; }
.G-nav ul .it.it-3 { background: url('../image/S_icons_nav-s42940a83f1.png') 8px -57px no-repeat; }
.G-nav ul .it.it-4 { background: url('../image/S_icons_nav-s42940a83f1.png') 8px -93px no-repeat; }
.G-nav ul .it.it-5 { background: url('../image/S_icons_nav-s42940a83f1.png') 8px -129px no-repeat; }
.G-nav ul .it.it-6 { background: url('../image/S_icons_nav-s42940a83f1.png') 10px -165px no-repeat; }

.G-foot { font-size: 12px; color: #555; background-color: #A5C8CF; padding: 15px 0px; }
.G-foot p { text-align: center; height: 16px; line-height: 16px; }

/* in-main*/
.in-main { width: 1000px; background-color: #fff; margin: 0px auto; }
.in-plate .box, .in-plate .box1, .in-plate .box2, .in-plate .box3, .in-plate .box4 { width: 100px; height: 100px; margin: 10px; border: 1px solid #999; float: left; }
.in-plate .box1 { background: url('../image/ddbox_1-s433cac5460.png') 50% 12px no-repeat; }
.in-plate .box1:hover { background-position: 50% -178px; cursor: pointer; }
.in-plate .box1.act { background-position: 50% -83px; }
.in-plate .box2 { background: url('../image/ddbox_2-s081473e284.png') 50% 12px no-repeat; width: 280px; }
.in-plate .box2:hover { background-position: 50% -178px; cursor: pointer; }
.in-plate .box2.act { background-position: 50% -83px; }
.in-plate .box3 { background: url('../image/ddbox_3-s96d73f37da.png') 50% 12px no-repeat; width: 200px; }
.in-plate .box3:hover { background-position: 50% -178px; cursor: pointer; }
.in-plate .box3.act { background-position: 50% -83px; }
.in-plate .box4 { background: url('../image/ddbox_4-se1dce564c6.png') 50% 12px no-repeat; width: 150px; }
.in-plate .box4:hover { background-position: 50% -178px; cursor: pointer; }
.in-plate .box4.act { background-position: 50% -83px; }
.in-tags .it { display: inline-block; *display: inline; *zoom: 1; }

/* structure,end*/

/*# sourceMappingURL=main.css.map */
